/* All my imports */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Cormorant+Garamond:wght@400;500;600&display=swap');


body {
    margin: 0;
    padding: 0;
}

article {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}


header {
    background-color: #033DA0ff;
    color: white;
    text-indent: 30px;
    text-align: center;
    padding: 40px;
    width: 100%;
}

.background {
    background-color: #DED7C5ff;
}

/*logo styling */
.logo {
  display: inline-block;
  background-image: url('../img/logo.png');
  width: 500px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Style for the buttons */
.buttonstatic {
    background-color: #1889CDff;
    color: white;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    margin-right: 10px;
}

.buttonstatic:hover {
    background-color: #0F5C8Dff;
    cursor: pointer;
}

/* content styling */
.subtitle-information {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
    margin-left: 50px;
    font-family:'Cinzel', serif;
}

.textinformation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-left: 50px;
    max-width: 50%;
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
}